<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6-Feet Restaurant - Reservation</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class ="container">
        <div class = "jumbotron text-center">
            <h1>6-Feet Restaurant</h1>
            <h3>Make Your Reservation</h3>
            <hr>
            <a href="/tables"></a><button class="btn btn-danger btn-lg"><span class="fa fa-plus"></span>View Tables</button>
            <a href="/"></a><button class="btn btn-danger btn-lg"><span class="fa fa-plus"></span>Home</button>
        </div>  
        
        <div class="row">

            <div class="col-12">
      
                <div class="card">

                    <div class="card-header">
                    <h3><strong>Table Reservation</strong></h3>
                    </div>

                    <div class="card-body">
                        <form method="POST" role="form">
            
                            <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name">
                            </div>
            
                            <div class="form-group">
                            <label for="role">Phone Number</label>
                            <input type="text" class="form-control" id="phoneNumber">
                            </div>
            
                            <div class="form-group">
                            <label for="age">Email</label>
                            <input type="text" class="form-control" id="email">
                            </div>
            
                            <div class="form-group">
                            <label for="force-points">Unique ID</label>
                            <input type="text" class="form-control" id="uniqueId">
                            </div>
            
                        </form>

                        <br>

                        <div class="text-left">
                            <button type="submit" class="btn btn-primary btn-md" id="submit-btn"><span></span>Reserve</button>
                        </div>
                        
                    </div>

                </div>

            </div>
      
        </div>


    </div>

    <script type="text/javascript">
        $("submit-btn").on("click", function(event) {
            event.preventDefault();
            var newReservation = {
                name: $("#name").val().trim(),
                phoneNumber: ("#phoneNumber").val.trim(),
                email: ("#email").val().trim(),
                uniqueID: ("#uniqueID").val().trim(),
            };

            $.post("/api/reservations", newReservation)
                .then(function(data) {
                    console.log(data)
                })
        })
    </script>

</body>
</html>